.button-add {
  height: 42px;
  width: 42px;

  background-color: $hawkes-blue;
  font-size: 1rem;
  border: none;
  text-decoration: none;
  cursor: pointer;

  color: $azure-radiance;

  border-radius: 50%;

  -webkit-appearance: none;
  -moz-appearance: none;

  display: flex;
}

.button-add:focus {
  outline: 0;
}

.button-add p {
  font-size: 1.5rem;
  margin: auto;
}
