.button-arrow-left-border {
  width: 2.5rem;
  height: 2.5rem;

  background-color: $white;
  display: flex;
  border: 2px solid $whisper;
  border-radius: 30%;
  text-decoration: none;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
}

.button-arrow-left-border:focus {
  outline: 0;
}
