.header {
  display: flex;

  height: 102px;

  ul {
    list-style-type: none;

    width: 1325px;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;

    // default boostrap setup
    padding-inline-start: 0;

    li {
      font-size: 14px;
    }
  }

  // border: solid 1px pink;
}

.circle {
  width: 36px;
  height: 36px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 100%;
  border: solid 1px $whisper;
}

.company-logo {
  background-color: $whisper;

  border-radius: 100%;
  width: 28px;
  height: 28px;
}

.profile-avatar {
  width: 48px;
  height: 48px;

  img {
    width: 48px;
    height: 48px;

    margin: auto;

    border-radius: 100%;

    position: absolute;
  }
}

.add-circle {
  width: 27px;
  height: 27px;

  margin: auto;

  border-radius: 100%;

  background-color: $white;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  top: 27;
  left: 21;
}

.add-circle-nested {
  width: 18px;
  height: 18px;

  border-radius: 100%;

  background-color: $cape-honey;

  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
}

.sidenav {
  // border: solid 1px gray;
  border-left: solid 1px $whisper;

  width: 100%;
  height: 1012px;

  display: flex;
  flex-direction: column;
}

.navigate {
  height: 102px;
  width: 100%;

  // border: solid 1px red;

  display: flex;
  align-items: center;
  justify-content: center;
}

.left-arrow {
  width: 39px;
  height: 39px;

  border-radius: 30%;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px solid $whisper;
}

.blue-circle {
  width: 39px;
  height: 39px;

  border-radius: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $hawkes-blue;
}

.plus-sign {
  color: $azure-radiance;
  font-size: 24px;
}

.content {
  // border: solid 1px blueviolet;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nested-content {
  border: solid 1px chartreuse;

  width: 1111px;
  height: 100%;

  display: flex;
}

.nested-content-left {
  border: solid 1px red;

  height: 100%;
  width: 625px;
}

.nested-content-right {
  border: solid 1px green;

  height: 100%;
  width: 375px;
}

.main-column {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}

.line {
  border: solid 1px $whisper;

  height: 0px;
  width: 1111px;
}