.nav {
  // border: 1px solid green;

  border-right: solid 1px $whisper;

  display: flex;
  flex-direction: column;

  float: left;

  width: 93px;

  ul {
    list-style-type: none;

    margin: auto;
    padding: 0;

    width: 100%;

    li {
      height: 60px;

      display: flex;

      a {
        margin: auto;
      }
    }
  }
}

.image {
  width: 32px;
  height: 32px;

  margin: auto;

  border-radius: 100%;
}
