$spray: #82eae4;
$turquoise-blue: #57f1c3;
$froly: #ed6b72;

$azure-radiance: #0177fb;
$hawkes-blue: #dff1fc;

$big-stone: #141736;
$cadet-blue: #a8b6c9;
$blue-haze: #c1cbdd;
$whisper: #f5f6fa;
$wild-watermelon: #ff6370;

$sunglo: #e86d76;
$wisp-pink: #fdeef0;

$cape-honey: #fde8a3;
$colonial-white: #feeeb9;

$white: #ffffff;

@import 'bootstrap/dist/css/bootstrap.min.css';

// icons
@import './icons/_add-user-icon.scss';
@import './icons/_angle-down-icon.scss';
@import './icons/_angle-up-icon.scss';
@import './icons/_arrow-down-icon.scss';
@import './icons/_arrow-left-icon.scss';
@import './icons/_arrow-right-icon.scss';
@import './icons/_arrow-up-icon.scss';
@import './icons/_attachment-icon.scss';
@import './icons/_bell-icon.scss';
@import './icons/_bolt-icon.scss';
@import './icons/_chart-bar-icon.scss';
@import './icons/_chevron-down-icon.scss';
@import './icons/_chevron-left-icon.scss';
@import './icons/_chevron-right-icon.scss';
@import './icons/_comment-icon.scss';
@import './icons/_compass-icon.scss';
@import './icons/_dots-icon.scss';
@import './icons/_market-icon.scss';
@import './icons/_moon-icon.scss';
@import './icons/_pen-icon.scss';
@import './icons/_search-icon.scss';
@import './icons/_star-icon.scss';

// buttons
@import './_button-arrow-left.scss';
@import './_button-arrow-right.scss';
@import './_button.scss';
@import './_button-add.scss';
@import './_button-arrow-left-border.scss';

// nav
@import './_nav.scss';

// header
@import './_header.scss';
