$spray: #82eae4;
$turquoise-blue: #57f1c3;
$froly: #ed6b72;

$azure-radiance: #0177fb;
$hawkes-blue: #dff1fc;

$big-stone: #141736;
$cadet-blue: #a8b6c9;
$blue-haze: #c1cbdd;
$whisper: #f5f6fa;
$wild-watermelon: #ff6370;

$sunglo: #e86d76;
$wisp-pink: #fdeef0;

$cape-honey: #fde8a3;
$colonial-white: #feeeb9;

$white: #ffffff;

@import 'bootstrap/dist/css/bootstrap.min.css';
