$spray: #82eae4;
$turquoise-blue: #57f1c3;
$froly: #ed6b72;

$azure-radiance: #0177fb;
$hawkes-blue: #dff1fc;

$big-stone: #141736;
$cadet-blue: #a8b6c9;
$blue-haze: #c1cbdd;
$whisper: #f5f6fa;
$wild-watermelon: #ff6370;

$sunglo: #e86d76;
$wisp-pink: #fdeef0;

$cape-honey: #fde8a3;
$colonial-white: #feeeb9;

$white: #ffffff;

@import 'bootstrap/dist/css/bootstrap.min.css';

.main {
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 100%;

  border: 1px solid red;
}

.left-navbar {
  display: flex;

  flex-direction: column;
  // justify-content: center;
  align-items: center;
  // align-content: center;

  width: 90px;
  height: 100%;

  border: 1px solid green;
}

.left-navbar-border {
  width: 1px;
  height: 100%;

  border: 1px solid blue;
}

.main-panel {
  width: 1300px;
  height: 100%;

  border: 1px solid burlywood;
}

.right-navbar {
  width: 491px;
  height: 100%;

  border: 1px solid gray;
}

.logo-attachment {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  // align-content: center;

  padding: 2rem 0;

  width: 100%;
}

.right-navbar-menu {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 2rem;

  padding: 2.5rem 0;

  width: 100%;
}

.menu-icon {
  padding: 1rem 0;
}
